
*,
*::after,
*::before {
    box-sizing: border-box;}


.page__menu{
    display:inline;
    padding-left: 0;
margin-left:350px;}
    
  
    .page__menu1{
        display: inline;
        margin-left: 100px;
       
    }
    .page__menu__link{
        font-style: 24px;
        line-height: 48px;
        text-decoration: none;
        
        color: red;
    }

    img{
        width:100%;
      
      }

      .container {
        padding-right: 15px;
        padding-left: 40px;
        margin-right: 67px;
        margin-left: 67px;
        text-align: center;}
        
        .text1{
            margin-top: 35px;
        }
        .text2{
            margin-top: 35px;
        }
        .text3{
            margin-top: 35px;  
        }

    button{
        background-color: #FF0000;
        width: 191px;
        height: 51px;
        left: 544.5px;
        top: 557px;
        color: white;
        text-align: center;
        margin-top: 50px;
       
    }
.container2{
    
        padding-right: 15px;
        padding-left: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: auto;
        margin-left: auto;
        text-align: right;  
        font-weight:bold;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        margin-left: 67px;
    }