.container {
    width: 100%;
    max-width: 1280px;
   
    margin: 0 auto;

}

a {
    text-decoration: none;
    font-size: 80px;
    line-height: 94px;
    color: none;
}

a:visited {
    color: #4bcaff;
}

.color1 {
    color: black;

}

.color2 {
    color: #4bcaff;;

}
main{
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
}

.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: #35444F;
    align-items: stretch;
    list-style: none;

}


.box__item {
    display: flex;
    border: 1px solid #FFFFFF;
    padding: 30px;
    text-decoration: none;
    width: auto;
    font-size: 24px;
    color: #FFFFFF;
    list-style: none;
    
}
.box__item:nth-child(2):hover {
    background-color: #222f3a;
}


.aside {
    
    width: 320px;
}


.box1 {
    display: inline-block;
    border: 1px solid #646262;
    list-style: none;
    font-family: Roboto;
    width: 324px;
    font-size: 27px;
    line-height: 27px;
}

.box__item1 {
    height: 81px;
    line-height: 60px;
}
.box__item1:nth-child(2):hover {
    background-color: #DBDBDB;
    justify-content: center;
}

.container1 {
    border: 1px solid #646262;
    width: 885px;
    height: 529px;
    padding-top: 60px;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.img {
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 381px;
}

.right_column{
  width: 885px;
  
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);;
}
.box2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    text-decoration: none;
    align-items: stretch;
    list-style: none;
}

.box__item2{
    font-size: 28px;
line-height: 28px;
padding-left: 30px;

}
.box__item2:nth-child(2):hover {
    color: #4bcaff;
    
}

.text3{
    font-size: 24px;
    line-height: 24px;
    padding-right: 30px;
}
