.container {
    width: 100%;
    max-width: 1280px; !important;
    padding: 0 15px;
    margin: 0 auto;
    
}
a{
    text-decoration:none;
    font-size: 80px;
line-height: 94px;
color: none;
}
a:visited{
    color: #4bcaff;
  }

.color1{
    color:black;
    
 }
.color2{
    color: #4bcaff;;
    
 }
 .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color:  #35444F;
    align-items: stretch;
    list-style: none;
    
}
    
 .box__item {
        display: flex;
        border: 1px solid #FFFFFF;
        padding: 30px;
        text-decoration: none;
        width: auto;
        font-size: 24px;
        color: #FFFFFF;
        list-style: none;    }
    
      
    
.aside{
    flex: 1 0 0;
}


.box1{
    display: inline-flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    border: 1px solid #646262;
    list-style: none;
    font-family: Roboto;
    width: 344px;
height: 399px;
font-style: normal;
font-weight: normal;
font-size: 27px;
line-height: 27px;
    
    
    
}
.box__item1{
  

}
.container1{
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid #646262;
    list-style: none;
    width: 885px;
height: 529px;
    
}
.img{
    width: 320px;
height: 381px;
}
.text1{
    width: 885px;
height: 120px;
    display: inline-flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end ;
}
.text2{
    width: 885px;
height: 109px;
    display: inline-flex;
    flex-direction:column;
    flex-wrap: wrap;
    
    justify-content: flex-end ;
}

.box2{ display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    background-color:  rgba(99, 105, 110, 0.48);;
    align-items: stretch;
    list-style: none;
}


.box__item2{


}
